.containerChart {
    width: 720px;
    margin-top: 20px;
}


@media screen and (max-width: 720px) {
    .containerChart {
        width: 576px
    }
}


@media screen and (max-width: 576px) {
    .containerChart {
        width: 400px
    }
}