<mat-card class="containerTest">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> MAPA # 1 Seleccione {{palabras_minimas}} palabras</ng-template>
                <mat-selection-list #mapa1 (selectionChange)="validator1()">
                    <mat-list-option *ngFor="let palabra of mapa1Info">
                        {{palabra}}
                    </mat-list-option>
                </mat-selection-list>
                <mat-divider></mat-divider>
                <div>
                    <button mat-button matStepperNext color="primary" (click)="Siguiente1()">Siguiente</button>
                </div>
                <mat-form-field class="hidden">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" >
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" (click)="Siguiente1()">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>MAPA # 2 Seleccione {{palabras_minimas}} palabras</ng-template>
                <mat-selection-list #mapa2 (selectionChange)="validator2()">
                    <mat-list-option *ngFor="let palabra of mapa2Info">
                        {{palabra}}
                    </mat-list-option>
                </mat-selection-list>
                <mat-divider></mat-divider>
                <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button matStepperNext color="primary" (click)="Siguiente2()">Siguiente</button>
                </div>
                <mat-form-field class="hidden">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY">
                </mat-form-field>
                <div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel click)="Siguiente2()">MAPA # 3 Seleccione {{palabras_minimas}} palabras</ng-template>
            <mat-selection-list #mapa3>
                <mat-list-option *ngFor="let palabra of mapa3Info">
                    {{palabra}}
                </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button (click)="limpiar(); stepper.reset();">Limpiar</button>
                <button mat-button matStepperNext color="primary" (click)="Siguiente3()">Calcular</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</mat-card>