.containerTest {
    width: 720px;
}

.hidden {
    display: none;
}

.palabras-container {
    margin: 5px 10px 29px 10px;
}

.chip-container {
    min-width: 100px;
}

@media screen and (max-width: 720px) {
    .containerTest {
        width: 100%;
    }
}


